/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Set the background color for the body. */
body{
    background: #001e4d;
}

/* Style the main application container. */
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

/* Style the main title. */
.app h1{
    font-size: 35px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

/* Style the quiz container. */
.quiz{
    padding: 20px 0;
}

/* Style the question text. */
.quiz h2{
    font-size: 23px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 10px;
}

/* Style the answer buttons. */
.btn{
    font-size: 18px;
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/* Change the button style when hovering and not disabled. */
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

/* Change the cursor when the button is disabled. */
.btn:disabled{
    cursor: no-drop;
}

/* Style the next button. */
#next-btn{
    font-size: 20px;
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

/* Style the button when the answer is correct or incorrect */
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393
}
